@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.input--field {
  width: 50%;
  padding: 0 16px;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.input--button {
  width: calc(50% - 32px);
  //padding: 0 16px;
  margin: 0 16px;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.flex-actions {
  display: flex;
}
