<mat-card class="container">
  <div class="titleContainer">
    <h1 *ngIf="!user" class="mat-h1 primary"><b>Edit User</b></h1>
    <h1 *ngIf="user" class="mat-h1 primary"><b>Edit User: {{user.username}}</b></h1>
    <h3 class="mat-h3 secondary"><b>KLM Cargo</b></h3>
  </div>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline" class="input--field">
        <mat-label>Username</mat-label>
        <input matInput autofocus placeholder="username" type="text" autocomplete="on" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline" class="input--field">
        <mat-label>Email</mat-label>
        <input matInput autofocus placeholder="email" type="text" autocomplete="on" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="input--field">
        <mat-label>Roles</mat-label>
        <mat-select placeholder="Roles" formControlName="roles" multiple>
          <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="input--field">
        <mat-label>Created on</mat-label>
        <input matInput autofocus type="datetime-local" formControlName="created">
      </mat-form-field>
      <mat-form-field appearance="outline" class="input--field">
        <mat-label>Password</mat-label>
        <input matInput autofocus placeholder="password" formControlName="password" [type]="hide ? 'password' : 'text'"
               autocomplete="on">
        <mat-icon class="inputIcon" matSuffix svgIcon="{{hide ? 'eye-off' : 'eye'}}"
                  (click)="hide = !hide"></mat-icon>
      </mat-form-field>
        <button class="input--button" color="accent" mat-raised-button (click)="generatePassword()">Generate Password</button>
    </form>
  </mat-card-content>
  <mat-card-actions class="flex-actions">
    <button mat-raised-button color="accent" (click)="backClicked()">Back</button>
    <div class="spacer"></div>
    <button mat-raised-button color="accent" (click)="saveClicked()">Save</button>
  </mat-card-actions>
</mat-card>
