H1 {
  margin-bottom: 0;
}

.container {
  width: 90%;
  max-width: 680px;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  width: 100%;
  text-align: left;
}

.input--field {
  width: 100%;
  margin: 5px 0 5px 0;
}

.cargoRow {
  text-align: right;
  margin: 0 5px 0 5px;
  background-color: aliceblue;
}

.cargoClear {
  width: 100%;
}

.buttonRow {
  width: 100%;
  margin-top: 1.125em;
  height: 20%;
  display: flex;
  flex-direction: row;

  .backButton {
    flex: 1 0 0;
    display: inline-block;
  }

  .saveLinkButton {
    flex: 2 0 0;
    display: inline-block;
  }
}

/* Barcode scanner */
.barcodeScanner {
  position: relative;
  width: 100%;
  height: 100vw;
  max-height: 320px;
  overflow: hidden;
  background-color: aliceblue;
  margin-top: 5px;
  border-radius: 4px;
}

.videoCamera {
  width: 100%;
}

.barcodeScannerIcon {
  position: absolute;
  margin-left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: flashBarcodeScannerIcon linear 1.5s infinite;
  animation: flashBarcodeScannerIcon linear 1.5s infinite;
}

@-webkit-keyframes flashBarcodeScannerIcon {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
@keyframes flashBarcodeScannerIcon {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}

.drawingBuffer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
