<div class="full-height">
  <mat-toolbar color="primary" class="tool-bar-fixed">
    <button *ngIf="loggedIn && nav.length > 1" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button *ngIf="loggedIn && icon" mat-icon-button (click)="callMethod()">
      <mat-icon svgIcon="{{icon}}"></mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="full-height">
    <mat-sidenav #sidenav class="dodge-toolbar">
      <nav>
        <mat-list>
          <mat-list-item *ngFor="let el of nav">
            <a routerLink="{{el.uri}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: el.exact}"
               (click)="sidenav.close()">{{el.title}}</a>
          </mat-list-item>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content class="dodge-toolbar">
      <router-outlet (activate)="changeOfRoutes()"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
