@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// for the toolbar
.spacer {
  flex: 1 1 auto;
}

.full-height {
  height: 100%;
}

.dodge-toolbar {
  padding-top: 64px;
  @include media-breakpoint-down(sm) {
    padding-top: 56px;
  }
}

.mat-sidenav {
  width: 15em;
  max-width: 80%;
}

nav .mat-list a {
  text-decoration: none;
}

.tool-bar-fixed {
  position: fixed;
  top: 0;
  z-index: 10;
}
