<div class="container">

  <!-- Barcode scanner -->
  <div id="inputBarcode" class="barcodeScanner">
    <mat-icon class="barcodeScannerIcon" *ngIf="!quaggaIsActive" color="warn" svgIcon="camera-off" matListIcon></mat-icon>
    <video class="videoCamera" autoplay preload="auto" src="" muted playsinline></video>
    <canvas class="drawingBuffer"></canvas>
  </div>

  <!-- Cargo form field -->
  <mat-form-field appearance="fill" class="input--field">
    <mat-label>Vehicle Code</mat-label>
    <input matInput autofocus placeholder="Scan or type code" type="text"
           autocomplete="off"
           [formControl]="vehicleCodeFormControl"
           (keyup.enter)="goToNextPage()">
    <mat-icon class="inputIcon" svgIcon="backspace" matSuffix (click)="clearVehicleFormField($event)"></mat-icon>
    <mat-error *ngIf="vehicleCodeFormControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- Next button -->
  <button mat-flat-button class="nextButton" color="primary" (click)="goToNextPage()"
          [disabled]="vehicleCodeFormControl.pending || vehicleCodeFormControl.invalid">CONTINUE
  </button>
</div>
