<mat-card class="container">
  <div class="titleContainer">
    <h1 class="mat-h1 primary"><b>Admin Dashboard</b></h1>
    <h3 class="mat-h3 secondary"><b>KLM Cargo</b></h3>
  </div>
  <mat-card-content>
    <div class="spinner-container" *ngIf="dataSource.loadingSubject | async">
      <mat-spinner></mat-spinner>
    </div>
    <mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Username</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef> Created</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdAt}}</mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef> Roles</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.roles}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"
               class="interactable"></mat-row>
    </mat-table>
    <mat-paginator [length]="dataSource.countSubject | async" [pageSizeOptions]="[5, 10, 20, 50]"
                   [showFirstLastButtons]="true" [pageSize]="pageSize"></mat-paginator>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="createClicked()">Create</button>
  </mat-card-actions>
</mat-card>
