<div class="center-content">
  <mat-card class="login-card">
    <h2 mat-card-title>Login</h2>
    <mat-card-content>
      <mat-form-field appearance="outline" class="input--field">
        <mat-label>Username</mat-label>
        <input matInput autofocus placeholder="username" type="text" autocomplete="on"
               [formControl]="usernameFormControl" (keyup.enter)="login()">
        <mat-error *ngIf="usernameFormControl.invalid">{{getUsernameErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input--field">
        <mat-label>Password</mat-label>
        <input matInput autofocus placeholder="password" [type]="hide ? 'password' : 'text'"
               autocomplete="on" [formControl]="passwordFormControl" (keyup.enter)="login()">
        <mat-icon class="inputIcon" svgIcon="{{hide ? 'eye-off' : 'eye'}}" (click)="hide = !hide" matSuffix></mat-icon>
        <mat-error *ngIf="passwordFormControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions align="right">
      <mat-progress-spinner *ngIf="loggingIn" color="accent" mode="indeterminate" [diameter]="36"
                            class="inline-processing"></mat-progress-spinner>
      <button mat-button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
