.login-card {
  margin-top: 2rem;
  width: 95%;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.inline-processing {
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
  margin: 0 0;
}

.input--field {
  width: 100%;
}
