<div class="flex-container">

  <!--Angular map configuration-->
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [streetViewControl]="false"
    [disableDefaultUI]="true"
    [zoomControl]="false"
    class="fill-size">

    <!--Markers on the angular map-->
    <agm-marker
      *ngFor="let m of markers.slice().reverse();"
      [latitude]="m.location.latitude"
      [longitude]="m.location.longitude"
      [markerDraggable]="false"
      [visible]="!selectedMarkers || selectedMarkers.includes(m)"
      [iconUrl]="m"
      (markerClick)="m.expanded = !m.expanded">
    </agm-marker>
  </agm-map>

  <!--div used for the list of cargo and filtering options-->
  <div class="side-bar">

    <div>
      <!--form field used for the search function-->
      <mat-form-field appearance="outline" class="input--field">
        <mat-label>Search</mat-label>
        <input #searchInput matInput autofocus placeholder="search" type="text"
               autocomplete="on" (keyup)="filterLoaded(searchInput.value)">
        <mat-icon matSuffix class="inputIcon" (click)="searchInput.value = ''; filterLoaded(searchInput.value)"
                  svgIcon="backspace"></mat-icon>
      </mat-form-field>

      <!--buttons on the upper right used for filtering the cargo types-->
      <button mat-flat-button [color]="getButtonColor('cargo')" (click)="filterOwner()">Cargo</button>
      <button mat-flat-button [color]="getButtonColor('10 ft pallet car')"
              (click)="filterVehicleType('10 ft pallet car')">Pallet cars
      </button>
      <button mat-flat-button [color]="getButtonColor('Hum car')"
              (click)="filterVehicleType('Hum car')">Hum cars
      </button>
    </div>

    <!--list of the cargo for the available markers-->
    <div class="scroll" *ngIf="markers && markers.length > 0">
      <div *ngFor="let m of markers;" class="map-row map-row__divider">
        <!--every list item-->
        <div class="map-info">
          <mat-icon class="icon" color="primary" matListIcon [svgIcon]="getSvgForVehicle(m)"></mat-icon>
          <h3 class="mat-h3">{{m.gsEquipmentID}}</h3>
          <div class="spacer"></div>
          <!--button used for focusing on that marker-->
          <button mat-flat-button [color]="selectedMarkers && selectedMarkers.includes(m) ? 'primary' : 'none'"
                  (click)="focusOnMarker(m)">{{selectedMarkers && selectedMarkers.includes(m) ? 'Unfocus' : 'Focus'}}</button>
          <mat-icon color="accent" [svgIcon]="m.cargo.length > 0 ? 'chevron-down' : ''" class="icon-right"
                    (click)="m.expanded = !m.expanded"></mat-icon>
        </div>
        <!--this is fired when the list item arrow is pressed for additional information on what is linked to it-->
        <div *ngIf="m.expanded">
          <div *ngFor="let c of m.cargo" class="mat-typography map-row map-info">
            <mat-icon svgIcon="package" color="accent" class="icon"></mat-icon>
            {{c.uld}}
            <div class="spacer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
