@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$breakPoint: md;
$bottom_height: 40vh;
$toolbar_height: 64px;
agm-map,
.side-bar {
  height: calc(100vh - #{$toolbar_height});
}

agm-map {
  width: 100%;
  @include media-breakpoint-down($breakPoint) {
    height: calc(100vh - #{$bottom_height} - #{$toolbar_height});
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  @include media-breakpoint-down($breakPoint) {
    flex-wrap: wrap;
  }
}

.fill-size {
  flex: 2 1 auto;
}

.side-bar {
  display: flex;
  flex-direction: column;
  min-width: 25em;
  background-color: #fff;
  flex: 1 1 auto;
  @include media-breakpoint-down($breakPoint) {
    width: 100%;
    height: $bottom_height;
  }
}

.input--field {
  width: 100%;
  padding: .25rem .5rem 0;
  margin-bottom: -.8375rem;
}

.scroll {
  overflow-y: scroll;
}

.map-info {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  margin: 0 !important;
}

.spacer {
  flex-grow: 2;
}

.map-row {
  padding: 0 .5rem;

  &__divider {
    border-bottom: 1px solid #29292955;
  }
}

.icon {
  margin-right: .5rem;
  &-right {
    margin-left: .5rem;
  }
}
