@import "klm-theme";

/* Variables */
$color-primary: #0da6e0;
$color-secondary: #FF0000;

body, html {
  background-color: map-get($mat-light-theme-background, hover);
  //background: #f9f9f9;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* general classes */
.primary {
  color: mat-color($primary, default);
}

.secondary {
  color: mat-color($secondary, default);
}

.warning {
  background-color: mat-color($warning, default);
  color: white;
  padding: 5px 12px;
  border-radius: 3px;
  text-align: left;

  .warningMessage {
    display: inline;
    padding-left: 5px;
  }

  .warningIcon {
    vert-align: middle;
    display: block;
    float: left;
  }

}

/* Material icons */
button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}

.inputIcon {
  cursor: pointer;
}
