<div class="container">

  <!-- Barcode scanner -->
  <div id="inputBarcode" class="barcodeScanner">
    <mat-icon class="barcodeScannerIcon" *ngIf="!quaggaIsActive" color="warn" svgIcon="camera-off" matListIcon></mat-icon>
    <video class="videoCamera" autoplay preload="auto" src="" muted playsinline></video>
    <canvas class="drawingBuffer"></canvas>
  </div>

  <!-- Cargo form field -->
  <mat-form-field appearance="fill" class="input--field">
    <mat-label>Vehicle Code</mat-label>
    <input matInput autofocus placeholder="Scan or type code" type="text" autocomplete="off"
           [formControl]="cargoCodeFormControl" (keyup.enter)="addCargoCodeFromFormField()">
    <mat-icon class="inputIcon" svgIcon="plus-circle" matSuffix (click)="addCargoCodeFromFormField()"></mat-icon>
    <mat-error *ngIf="cargoCodeFormControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- Cargo list -->
  <mat-list *ngIf="vehicle.cargo && vehicle.cargo.length > 0" class="cargoRow">
    <mat-list-item *ngFor="let cargo of vehicle.cargo; let i = index" [attr.data-index]="i">
      <mat-icon color="primary" svgIcon="package" matListIcon></mat-icon>
      <h3 matLine> {{ cargo.uld }} </h3>
      <p matLine><span><i> {{ cargo.checkInTime | date: 'dd/MM/yyyy hh:mm' }}</i></span></p>
      <button mat-icon-button>
        <mat-icon color="warn" svgIcon="delete-forever" (click)="removeCargoItem(i)"></mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>

    <!-- Clear cargo button -->
    <div *ngIf="vehicle.cargo.length > 0">
      <button mat-flat-button class="cargoClear" color="warn"
              (click)="clearCargo()">CLEAR CARGO
      </button>
      <mat-divider></mat-divider>
    </div>
  </mat-list>

  <!-- Back and save/link buttons -->
  <div class="buttonRow">
    <button class="backButton" color="primary" mat-raised-button (click)="goBack()">BACK</button>
  </div>

</div>
